.btn {
    border-left-width: medium;
}
.btn {
    border-bottom-width: medium;
}
.btn {
    border-right-width: medium;
}
.btn {
    border-top-width: medium;
}
.btn {
    border-left-style: none;
}
.btn {
    border-bottom-style: none;
}
.btn {
    border-right-style: none;
}
.btn {
    border-top-style: none;
}
.btn {
    border-left-color: currentColor;
}
.btn {
    border-bottom-color: currentColor;
}
.btn {
    border-right-color: currentColor;
}
.btn {
    border-top-color: currentColor;
}
.btn {
    border-image: none;
}
.btn {
    background-color: #9c9c9c;
}
.btn {
    padding-left: 1.75pc;
}
.btn {
    padding-bottom: 0.875pc;
}
.btn {
    padding-right: 1.75pc;
}
.btn {
    padding-top: 0.875pc;
}
.btn {
    font-size: 12pt;
}
.btn {
    cursor: pointer;
}
.btn {
    display: inline-block;
}
.txtAbout {
    position: absolute;
    top: 40%
    left: 80%;
    font-family: Tahoma;
    font-size: 1.041666667in;
    color: white;
}
[class~="txt"] {
    font-family: Tahoma;
}
[class~="txt"] {
    font-size: 1.041666667in;
}
[class~="roundedbutton"],
[class~="txt"] {
    color: white;
}
[class~="txt"],
[class~="center"],
[class~="corner"] {
    margin-left: 0;
}
[class~="center"],
[class~="txt"],
[class~="corner"] {
    margin-bottom: 0;
}
[class~="corner"],
[class~="center"],
[class~="txt"] {
    margin-right: 0;
}
[class~="center"],
[class~="corner"],
[class~="txt"] {
    margin-top: 0;
}
[class~="txt"],
[class~="corner"],
[class~="center"] {
    position: absolute;
}
[class~="txt"] {
    top: 10%;
	width: 80vw;
}
[class~="center"],
[class~="txt"] {
    left: 50%;
}
[class~="corner"],
[class~="txt"],
[class~="center"] {
    -ms-transform: translate(-50%, 0%);
}
[class~="corner"],
[class~="txt"],
[class~="center"] {
    transform: translate(-50%, 0%);
}
[class~="corner"],
[class~="center"] {
    top: 1%;
}
[class~="corner"] {
    left: -74%;
}
[class~="roundedbutton"] {
    border-left-width: medium;
}
[class~="roundedbutton"] {
    border-bottom-width: medium;
}
[class~="roundedbutton"] {
    border-right-width: medium;
}
[class~="roundedbutton"] {
    border-top-width: medium;
}
[class~="roundedbutton"] {
    border-left-style: none;
}
[class~="roundedbutton"] {
    border-bottom-style: none;
}
[class~="roundedbutton"] {
    border-right-style: none;
}
[class~="roundedbutton"] {
    border-top-style: none;
}
[class~="roundedbutton"] {
    border-left-color: currentColor;
}
[class~="roundedbutton"] {
    border-bottom-color: currentColor;
}
[class~="roundedbutton"] {
    border-right-color: currentColor;
}
[class~="roundedbutton"] {
    border-top-color: currentColor;
}
[class~="roundedbutton"] {
    border-image: none;
}
[class~="roundedbutton"] {
    background-color: #4caf50;
}
[class~="roundedbutton"] {
    padding-left: 1.25pc;
}
[class~="roundedbutton"] {
    padding-bottom: 1.25pc;
}
[class~="roundedbutton"] {
    padding-right: 1.25pc;
}
[class~="roundedbutton"] {
    padding-top: 1.25pc;
}
[class~="roundedbutton"] {
    text-align: center;
}
[class~="roundedbutton"] {
    text-decoration: none;
}
[class~="roundedbutton"] {
    display: inline-block;
}
[class~="roundedbutton"]:hover {
    background: #326e35;
}
[class~="roundedbutton"] {
    font-size: 1pc;
}
[class~="roundedbutton"] {
    cursor: pointer;
}
[class~="roundedbutton"] {
    margin-left: 0.125pc;
}
[class~="roundedbutton"] {
    margin-bottom: 3pt;
}
[class~="roundedbutton"] {
    margin-right: 0.125pc;
}
[class~="roundedbutton"] {
    margin-top: 3pt;
}
[class~="roundedbuttonstyle"] {
    border-radius: 27px;
}
[class~="default"] {
    color: black;
}
[class~="btn"]:hover {
    background: #666;
}
#logo{ 
    position:fixed; 
    top:0; 
    left:0; 
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100px;
    height: auto;
} 
.container {
  position: relative;
  width: 22%;
  top: 145px;
}
.container img {
  width: 100%;
  height: auto;
}
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #9c9c9c;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}
.infoText {
  position:relative;
  bottom:0;
  right:40%;
  color: white;
  font-family: Tahoma;
  font-weight: normal;
  font-size: 0.15in;
  width: 20vw;
}
.infoHeader2 {
  color: white;
  font-family: Tahoma;
  font-weight: normal;
  font-size: 0.4in;
  width: 10vw;
}
.infoHeaderBlue2 {
  color: blue;
  font-family: Tahoma;
  font-weight: normal;
  font-size: 0.4in;
  width: 10vw;
}
.rollOverInfo {
  color: blue;
}
.bottomCorner {
  position: absolute;
  bottom: 1%;
}
.container .btn:hover {
  background-color: #666;
}
body {
    background-color: #051321;
}
.botleft {
  position: absolute;
  bottom: 0%;
  left: 0%;
}
